<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% if not is_finished %}
    <meta http-equiv="refresh" content="2">
    {% endif %}

    <title>忘れ物探知アプリ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>忘れ物探知 Webアプリ</h1>

    <div class="weather-card">
        <span class="weather-icon">japan</span>
        <span class="weather-text">新潟市の天気: <strong>{{ weather }}</strong></span>
    </div>

    <section class="tag-status">
        <h2>タグの状態</h2>

        <ul>
            {% for tag in tags %}
            <li>
                <span>{{ tag.name }}</span>
                <span class="status {{ tag.class }}">{{ tag.status }}</span>
            </li>
            {% endfor %}
        </ul>
    </section>

    {% if "雨" in weather or "雪" in weather %}
    <div style="margin-top: 20px; padding: 10px; background-color: #ffeef0; color: #fa5252; border-radius: 10px; font-weight: bold; font-size: 0.9rem;">
        外は{{ weather }}です。傘を忘れずに！
    </div>
    {% endif %}

    <p>※ ２秒ごとに自動で最新の状態に更新されます</p>

    <div class="omikuji-card">
        <span>今日の運勢：</span>
        <strong class="omikuji-result {% if '大吉' in omikuji %}daikichi-style{% endif %}">
            {{ omikuji }}
        </strong>
    </div>
    
    




    <div style="margin-top: 20px;">
        <a href="/log_graph" style="color:#1a5ab1; font-weight:bold; text-decoration:none;">
            📊 忘れ物ロググラフを見る
        </a>
    </div>
    

    
</body>
</html>